body {
  background-color: #2D3B31;
  font-family: "Century Gothic", sans-serif;
}

a { 
  color: #330000;
  text-decoration: none;
  &:hover{text-decoration: underline;}
  &:visited{ text-decoration: none;}
  &:link{ text-decoration: none;}
  &:active{text-decoration: none;}
}

nav.span-24 {
  background-color: #9ABD8B;
}
.task_leaf,.task_node {
  height: 200px;
  width: 200px;
  float: left;
  text-align: center;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #FF8620;
  background-image: -moz-linear-gradient(#FF8620, #FFBE43);
  background-image: -webkit-linear-gradient(#FF8620, #FFBE43);
  margin: 40px;
  a {
      .task_count {
        -webkit-appearance: push-button;
        -moz-appearance: button;
        width: 60%;
        margin: auto;
        background-color: #FFE9A3;
      }
  }
  .task_name {
    padding:40px;
  }
}
